openapi: 3.0.0
info:
  contact:
    email: majorx234@googlemail.com
    name: MajorX234
  description: This API provides status infos for door systems
  title: Ilmspace door API
  version: "1.0"
servers:
- url: http://to.be.defined/v1.0
tags:
- description: Test the service
  name: test
- description: door info methods
  name: door_info
paths:
  /ping:
    get:
      operationId: ping
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: Success
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The HTTP 403 Forbidden client error status response code indicates
            that the server understood the request but refuses to authorize it.
      summary: Ping the REST API
      tags:
      - test
  /door_status:
    get:
      description: query whether the door is open or closed
      operationId: door_status
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoorStatus'
          description: Success
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The HTTP 403 Forbidden client error status response code indicates
            that the server understood the request but refuses to authorize it.
      summary: Get status of the door
      tags:
      - door_info
components:
  responses:
    Forbidden:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: The HTTP 403 Forbidden client error status response code indicates
        that the server understood the request but refuses to authorize it.
    NotFound:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: The requested resource was not found
    InvalidInput:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Content provided for this request was invalid
  schemas:
    ErrorResponse:
      properties:
        message:
          type: string
      required:
      - message
      type: object
    Status:
      example:
        message: message
      properties:
        message:
          type: string
      required:
      - message
      type: object
    DoorStatus:
      example:
        lock_status: true
        header:
          stamp:
            sec: 6
            nsec: 1
          seq: 0
      properties:
        header:
          $ref: '#/components/schemas/Header'
        lock_status:
          description: "false=off, true=on"
          type: boolean
      type: object
    Header:
      example:
        stamp:
          sec: 6
          nsec: 1
        seq: 0
      properties:
        seq:
          description: Sequenz number
          format: int64
          type: integer
        stamp:
          $ref: '#/components/schemas/Time'
      type: object
    Time:
      example:
        sec: 6
        nsec: 1
      properties:
        sec:
          description: seconds
          format: int64
          type: integer
        nsec:
          description: nano seconds
          format: int64
          type: integer
      type: object

